# Exercise 7: Clustering the fish data

Now use your standardization and clustering pipeline from the previous exercise to cluster the fish by their measurements, and then create a cross-tabulation to compare the cluster labels with the fish species.

**Step 1:** Load the dataset, extracting the species of the fish as a list `species` _(done for you)_

In [4]:
import pandas as pd

df = pd.read_csv('../datasets/fish.csv')

# remove the species from the DataFrame so only the measurements are left
species = list(df['species'])
del df['species']

In [15]:
df

    weight  length1  length2  length3  height  width
0    242.0     23.2     25.4     30.0    38.4   13.4
1    290.0     24.0     26.3     31.2    40.0   13.8
2    340.0     23.9     26.5     31.1    39.8   15.1
3    363.0     26.3     29.0     33.5    38.0   13.3
4    430.0     26.5     29.0     34.0    36.6   15.1
..     ...      ...      ...      ...     ...    ...
80   950.0     48.3     51.7     55.1    16.2   11.2
81  1250.0     52.0     56.0     59.7    17.9   11.7
82  1600.0     56.0     60.0     64.0    15.0    9.6
83  1550.0     56.0     60.0     64.0    15.0    9.6
84  1650.0     59.0     63.4     68.0    15.9   11.0

[85 rows x 6 columns]

**Step 2:** Build the pipeline as in the previous exercise _(filled in for you)._

In [2]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

scaler = StandardScaler()
kmeans = KMeans(n_clusters=4)
pipeline = make_pipeline(scaler, kmeans)

**Step 3:** Fit the pipeline to the fish measurements `samples`.

In [22]:
pipeline = pipeline.fit(df.values)

**Step 4:** Obtain the cluster labels for `samples` by using the `.predict()` method of `pipeline`, assigning the result to `labels`.

In [23]:
labels = pipeline.predict(df.values)

**Step 5:** Using `pd.DataFrame()`, create a DataFrame `df` with two columns named `'labels'` and `'species'`, using `labels` and `species`, respectively, for the column values.

In [25]:
data = {'labels': labels, 'species':species}
df = pd.DataFrame(data)

**Step 6:** Using `pd.crosstab()`, create a cross-tabulation `ct` of `df['labels']` and `df['species']`.

In [26]:
ct = pd.crosstab(df['labels'], df['species'])

**Step 7:** Display your cross-tabulation, and check out how good your clustering is!

In [27]:
ct

species  Bream  Pike  Roach  Smelt
labels
0            1     0     19      1
1            0    17      0      0
2           33     0      1      0
3            0     0      0     13